In [10]:
a_nacimiento:int =int( input("Ingrese su año de nacimiento: "))

In [11]:
a_nacimiento

1990

In [13]:
a_nacimiento = int(a_nacimiento)
a_nacimiento

1990

In [19]:
a_actual:int = int( input("Ingrese el año actual: "))
a_actual

2023

In [ ]:
a_nacimiento:int = int (input("Ingrese su año de nacimiento: "))
a_actual:int = int (input("Ingrese el año actual: "))
if a_nacimiento > a_actual:
    print("Error: el año de nacimiento no puede ser mayor al año actual")

In [27]:
numero: int = 10
numero_float: float = 10.5
numero_completo: complex = 10 + 5j
numero_cientifico: float = 1.5e3

In [29]:
print(numero)
print(numero_float) 
print(numero_completo)
print(numero_cientifico)

10
10.5
(10+5j)
1500.0

In [34]:
print(type(numero))

<class 'int'>

In [41]:
nombre: str = "juan"

In [42]:
print(type(nombre))

<class 'str'>

In [44]:
nombre.capitalize()

'Juan'

In [46]:
nombre = nombre.capitalize()
nombre

'Juan'

In [48]:
nombre.upper()

'JUAN'

In [50]:
nombre = nombre.upper()

In [52]:
def nada():
    pass

In [54]:
print (nada())

None

In [ ]:
n = int(input)

In [7]:
edad = 17

if edad >= 18:
    print("Es mayor de edad")
else:
    print("Es menor de edad")

Es menor de edad

In [17]:
edad = 18

if edad > 18:
    print("Es mayor de edad")
elif edad == 18:
    print ('Tienes 18 años Felicidades')
else:
    print("Es menor de edad")

Tienes 18 años Felicidades

In [ ]:
#Escriba una calculadora con las 4 operaciones básicas, usando if - elif- else

print("Bienvenido a la calculadora")
print("1. Suma")
print("2. Resta")
print("3. Multiplicación")
print("4. División")

opcion = int(input("Ingrese la opción deseada: "))

if opcion == 1:
    print("Suma")
    num1 = int(input("Ingrese el primer número: "))
    num2 = int(input("Ingrese el segundo número: "))
    suma = num1 + num2
    print("La suma es: ", suma)
elif opcion == 2:
    print ("Resta")
    num1 = int(input('Ingrese el primer número: '))
    num2 = int(input('Ingrese el segundo número: '))
    resta = num1 - num2
    print("La resta es: ", resta)
elif opcion == 3:
    print("Multiplicación")
    num1 = int(input('Ingrese el primer número: '))
    num2 = int(input('Ingrese el segundo número: '))
    multiplicacion = num1 * num2
    print("La multiplicación es: ", multiplicacion)
elif opcion == 4:
        print("División")
        num1 = int(input('Ingrese el primer número: '))
        num2 = int(input('Ingrese el segundo número: '))
        division = num1 / num2
        if num2 != 0:
         print("Resultado: ", num1 / num2)
        else:
         print("No se puede dividir entre cero")

        
else:
    print("Opción incorrecta")

In [23]:
edad2 = 17
match edad2:
    case edad2 if edad2 > 18:
        print("Es mayor de edad")
    case edad2 if edad2 == 18:
        print("Tienes 18 años, Felicidades")
    case edad2 if edad2 < 18:
        print("Es menor de edad")

Es menor de edad

In [25]:
#Listas
lista_1 = [1,2,3,4,5,6,7,8,9,10]
lista_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
lista_1 = [1,2,3,4,5,[10,10,10],6,7,8,'9',10]
lista_1 
lista_1[5]

[10, 10, 10]

In [34]:
lista_1.append(11)
print(lista_1)

[1, 2, 3, 4, 5, [10, 10, 10], 6, 7, 8, '9', 10, 11, 11, 11]

In [36]:
len(lista_1)

14

In [38]:
#diccionarios
diccionario = {'Llave' : 'Valor'}
diccionario

{'Llave': 'Valor'}

In [40]:
diccionario['Llave']

'Valor'

In [42]:
diccionario.keys()

dict_keys(['Llave'])

In [44]:
#Conjuntos
mi_set = {1,2,3}
mi_set

{1, 2, 3}

In [47]:
mi_set.add(4)
mi_set

{1, 2, 3, 4}

In [53]:
lista = [1,1,2,2,3,3,4,4,5,5,6,6]
print(lista)
print(list(set(lista)))

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6]
[1, 2, 3, 4, 5, 6]

In [69]:
#Tuplas
mi_tupla = (1,2,3)
mi_tupla

(1, 2, 3)

In [70]:
mi_tupla.__add__((4,5,6))
mi_tupla

(1, 2, 3)

In [3]:
data_2 =  (1,2,3,4)
for i in data_2:
    print(i)

print(data_2[0])

1
2
3
4
1

In [5]:
def suma (a:int, b:int) -> int:
    return a + b

def resta (a:int, b:int) -> int:
    return a - b

def multiplicacion (a:int, b:int) -> int:
    return a * b

def division (a:int, b:int) -> float:
    return a / b

operaciones = [suma, resta, multiplicacion, division]

for operacion in operaciones :
    print (operacion(5,4))

print (operaciones[0](6,7))

9
1
20
1.25
13